.about-me
{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    max-width: 100%;
    min-height: 120vh;
    overflow: hidden;
}

.about-shape
{
    position: absolute;
    min-height: 100%;
    min-width: 63%;
    max-width: 100%;
    background-color: #DAC21C;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 43.96% 0%);
    z-index: 1; /* Lower z-index */
}

.about-container
{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    flex: 1;
}

.about-info-buttons 
{
    display: flex;
}

.about-info-container
{
    display: flex;
    flex: 1;
    max-width: 100%;
}

.about-left-section
{
    min-width: 40%;
}

.about-right-section
{
    display: flex;
    flex: 1;
}

.about-title
{
    text-align: center;
    margin-bottom: 3%;
    color: var(--title-blue);
}

.blue-normal-text
{
    color: var(--text-blue);
}

.circle-container
{
    position: relative;
    width: 100%;
    height: 100%;
    left: 4%;
}

.circle-mask {
    height: 100%;
    width: 100%;
    overflow: hidden;
    clip-path: ellipse(50% 50% at 50% 50%);
    background-color: #D9D9D9;
}

.circle-mask img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-info-buttons
{
    margin: 0% 1%;
    margin-top: 3%;
}

.about-text-buttons
{
    display: flex;
    min-height: 10%;
    min-width: 45%;
    max-width: 50%;
    justify-content: space-between;
}

.text-button
{
    color: var(--dark-blue);
    text-decoration: none;
    /* background-color: black; */
}

.text-button:hover
{
    color: white;
}

.text-section
{
    position: relative;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border: solid 10px yellowgreen; */
}

.about-description
{
    text-align: left;
    margin: 5% 2%;
    margin-left: 17%;
    /* border: solid 10px green; */
}

.logos-container
{
    margin-left: auto;
    margin-right: 17%;
    max-width: 100%;
    gap: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-logo-pictures
{
    width: 3.5vw;
    height: 6.5vh;
    max-width: 200px;
    z-index: 3;
    display: block;
}

@media (max-width: 1000px) {
    .about-info-container 
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 100%;
        min-height: 100%;
    }

    .about-left-section
    {
        height: 300px;
        margin-bottom: 5%;
    }

    .circle-container
    {
        width: 70%;
        left: 0%;
        margin: auto;
    }

    .about-info-buttons
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logos-container, .about-info-buttons
    {
        margin: auto;
    }

    .about-text-buttons
    {
        display: flex;
        /* width: 100%; */
        gap: 10%;
        min-width: 123%;
        min-height: none;
        max-width: none;
        /* justify-content: space-evenly; */
    }

    .about-logo-pictures
    {
        width: 6.5vw;
        height: 6.5vh;
    }

    .text-section
    {
        background-position: center;
        background-size: cover;
    }
    
    .about-description
    {
        margin: 5% 2%;
    }
}