.about-me
{
    position: relative;
    display: flex;
    margin: 0px 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.about-left-section
{
    position: inherit;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-right-section
{
    position: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;

}

.about-title
{
    text-align: center;
}

.about-shape
{
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: #DAC21C;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 43.96% 0%);
    z-index: 1; /* Lower z-index */
}

.blue-normal-text
{
    color: var(--text-blue);
}

.circle-mask {
    position: inherit;
    width: 70vw;
    height: 100%;
    top: 5%;
    left: 0%;
    overflow: hidden;
    clip-path: ellipse(25% 45% at 27% 50%);
    background-color: rgb(173, 163, 163);
}

.circle-mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.in-front
{
    position: inherit;
    z-index: 3;
}

.about-text-buttons
{
    display: flex;
    position: inherit;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-top: 1%;
}

.text-button
{
    color: var(--dark-blue);
    text-decoration: none;
    margin-right: clamp(1.5rem, 4.5vw + 1rem, 7rem);
}

.text-section
{
    position: relative;
    min-height: 70%;
}

.brush-stroke
{
    position: absolute;
    width: 70vw;
    height: 70vh;
    left: -20%;
    z-index: 2;
}

.about-description
{
    width: 95%;
    height: 85%;
    text-align: left;
    margin-top: 6%;
}

.logos-container
{
    display: flex;
    margin-left: 40%;
    margin-top: 2%;
}

.logos-container a
{
    margin-right: 5%;
}

.about-me-logo-pictures
{
    width: 3.5vw;
    height: 6.5vh;
    z-index: 3;
}
