.contact-section
{
    max-width: 100%;
    background-color: var(--dimmer-yellow);
    display: flex;
    flex-direction: column;
}

.contact-section-title
{
    color: var(--background-blue);
    margin: 5% var(--title-side-margin);
    margin-bottom: 1%;
    font-style: italic;
}

.contact-info-container
{
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.contact-logos-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}

.contact-logo-image
{
    display: flex;
}

.contact-logo-image-info
{
    display: flex;
    flex-direction: column;
    color: var(--background-blue);
    margin: auto;
    margin-left: 2%;
    gap: 5px;
}

.contact-input
{
    display: flex;
}

.contact-input-container
{
    background-color: var(--background-blue);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 10px;
}

.contact-input-field
{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
}

.contact-input-field textarea
{
    min-width: 600px;
    max-width: 600px;
    min-height: 170px;
    height: 170px;
    border: none;
    resize: vertical;
}

.contact-input-field input textarea:focus
{
    border-color: white;
}


