.contact-section
{
    max-width: 100%;
    background-color: var(--dimmer-yellow);
    display: flex;
    flex-direction: column;
}

.contact-section-title
{
    color: var(--background-blue);
    margin: 5% var(--title-side-margin);
    padding: 0;
    margin-bottom: 3%;
}

.contact-info-container
{
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 5%;
    gap: 50px;
    box-sizing: border-box;
}

.contact-logos-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-logo-image
{
    display: flex;
    padding-right: 1rem;
}

.contact-logo-image img
{
    width: clamp(40px, 10vw, 96px);
}

.contact-logo-image-info
{
    display: flex;
    flex-direction: column;
    color: var(--background-blue);
    margin: auto;
    margin-left: 2%;
    gap: 5px;
    flex-shrink: 0;
}

.contact-input
{
    display: flex;
}

.contact-input-container
{
    display: flex;
    background-color: var(--background-blue);
    border-radius: 9px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.5rem;
    gap: 10px;
}

.contact-input-field
{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    box-sizing: border-box;
}

.contact-input-field input
{
    border: none;
}

.contact-input-field textarea
{
    width: clamp(200px, 60vw, 600px);
    min-height: 170px;
    height: 170px;
    border: none;
    resize: vertical;
}

.contact-input-field textarea:focus
{
    border: solid 2px white;
}

.contact-input-field input:focus
{
    border: solid 2px white;
}

/* Make utitly class for displaying are meant to become columns so that you can reuse them or edit them all at once
    You can apply this to toher css classes
*/

@media (max-width: 1200px) 
{
    .contact-info-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: clamp(260px, 65vw, 600px);
    }

    .contact-logos-container
    {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }
}