.contact-section
{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-section-title
{
    color: var(--bright-yellow);
    margin: 5% var(--title-side-margin);
    padding: 0;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 60%);
}

.contact-info-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 5%;
    gap: clamp(20px, 10vw, 40px);
    box-sizing: border-box;
}

.contact-logos-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-logo-image
{
    display: flex;
    padding-right: 1rem;
}

.contact-logo-image img
{
    width: clamp(40px, 7vw, 60px);
}

.contact-logo-image-info
{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 2%;
    gap: 5px;
    flex-shrink: 0;
}

.contact-input
{
    display: flex;
}

.contact-input-container
{
    display: flex;
    border-radius: 9px;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
}

.contact-input-field
{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    box-sizing: border-box;
}

.contact-input-field input
{
    border: none;
    box-sizing: border-box;
}

.contact-input-field textarea
{
    width: clamp(200px, 60vw, 600px);
    min-height: 170px;
    height: 170px;
    border: none;
    box-sizing: border-box;
    resize: vertical;
}

.contact-input-field textarea:focus, input:focus
{
    /* border: solid 2px black; */
}

/* .contact-input-field input:focus
{
    border: solid 2px white;
} */

input::placeholder, 
textarea::placeholder {
  color: rgb(228, 225, 225); /* Customize the color */
  opacity: 1; /* Optional: Ensure the color has full opacity */
}

/* Make utitly class for flex displaying column/row are meant to become columns so that you can reuse them or edit them all at once
    You can apply this to other css classes
*/

@media (max-width: 1200px) 
{
    .contact-info-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: clamp(260px, 65vw, 600px);
        margin-top: 4%;
    }

    .contact-logos-container
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
}