.footer
{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, var(--footer-initial-color) 0%, var(--footer-second-color) 70%, var(--footer-last-color) 100%);
}

.footer-container
{
    margin: 1% 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p
{
    color: white;
}

.footer-container h3
{
    margin: auto;
    padding: 0;
    color: var(--light-white);
}


.footer-logo-container
{
    display: flex;
    gap: 12px;
}


@media (max-width: 800px) {
    
    .footer-container
    {
        flex-direction: column;
        gap: 7px;
    }

}