.footer
{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #79BCC9 0%, #046578 70%, #000000 100%);
}

.footer-container
{
    margin: 1% 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p
{
    color: white;
}

.footer-container h3
{
    margin: auto;
    padding: 0;
    color: white;
}


.footer-logo-container
{
    display: flex;
    gap: 12px;
}


@media (max-width: 800px) {
    
    .footer-container
    {
        flex-direction: column;
        gap: 7px;
    }

}