.portfolio-item
{
    display: flex;
    flex-direction: column;
    --container-margin: 5% 5%;
}

.portfolio-item  h1, h2, h3, h4, h5, h6, p
{
    padding: 0;
    margin: 0;
}

.portfolio-item .title-section
{
    position: relative;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-item .title-section iframe
{
    width: clamp(300px, 50vw, 700px);
    aspect-ratio: 16/9;
    margin: auto;
    margin-right: 0;
    border: 0;
}

.portfolio-item .container
{
    display: flex;
    margin: var(--container-margin);
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: white;
    align-items: stretch;

}

.portfolio-item .title-section .container .text-container
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 40%;
}

.dark-overlay::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.377); /* Dark overlay with transparency */
    z-index: 1;
}


/* Tasks Section */


.tasks-section
{
    position: relative;
    /* background-color: rgb(208, 204, 204); */
}

.tasks-section .tasks-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--container-margin);
}

/* tasks left section */

.tasks-section .left
{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-right: 2%;
}

.task-container .left h1
{
    margin-bottom: calc(70% * .10);
}

.tasks-section .left .custom-list
{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
}

.tasks-section .left .custom-list li
{
    margin-bottom: 1%;
}

.tasks-section .left .custom-list li::before
{
    content: "> ";
}

.tasks-section .left .tasks-description
{
    margin-bottom: 2%;
}

/* tasks right section */

.tasks-section .right
{
    display: flex;
    position: relative;
    /* width: 50%; */
    margin: auto;
    margin-right: 0;
}

.tasks-section .right .right-container
{
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    /* gap: clamp(5px, 10vw, 50px) 0px; */
    /* height: 500px; */
    /* width: 100%;
    height: 100%; */
}

.task-container .right img
{
    /* width: 100%; */
    display: block;
    /* aspect-ratio: 16/9; */
}

/* reflection */
.tasks-section .reflection
{
    color: white;
    margin: var(--container-margin);
}

.tasks-section .reflection h1
{
    margin-bottom: 2%;
}


@media (max-width: 800px) 
{
    .title-section .container
    {
        flex-direction: column;
    }

    .portfolio-item .title-section .container .text-container
    {
        max-width: 100%;
        text-align: center;
    }

    .portfolio-item .title-section iframe
    {
        margin-top: 5%;
        margin-right: auto;
    }

    .tasks-section .container
    {
        flex-direction: column;
    }

    .tasks-section .left, .right
    {
        max-width: 100%;
    }

    .tasks-section .right
    {
        margin-top: 5%;
        width: 100%;
    }

    .tasks-section .right .right-container
{
    justify-content: space-evenly;
}

}



