.hero
{
    min-height: 87vh;
    background-image: url("../assets/Images/Hero/Sunset-with-friends.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content
{
    width: 80%;
    height: clamp(300px, 60vh, 900px);
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-content h1 
{
    padding: 0;
    margin: 0;
}

.blur-background::before
{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    filter: blur(5px);
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
}

.hero-buttons-container
{
    display: flex;
    gap: clamp(20px, 5vw, 100px)
}


.typewriter-effect .bar
{
    animation: blink 1s infinite;
}

@keyframes blink {

    0% {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}


@media (max-width: 500px) 
{
    .hero-buttons-container
    {
        flex-direction: column;
        gap: clamp(30px, 10vh, 30px);
    }
}

