.home-portfolio
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-portfolio-header
{
    display: flex;
    color: var(--dimmed-yellow);
    margin: 5% auto;
    margin-bottom: 5%;
    /* border: solid 1px black; */
}

.rectangle
{
    background-color: var(--dimmer-yellow);
    padding: 1%;
    box-shadow: 0px 4px 5px gray;
}

.home-portfolio-section
{
    position: relative;
    display: flex;
    max-width: 100%;
    min-height: 70vh;
    margin: 0% 2.5%;
    margin-bottom: 5%;
}

.image-box
{
    position: absolute;
}

.slider-container
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* height: 100%; */
    /* width: 100%; */
    /* aspect-ratio: 16/9; */
    /* max-width: 1000px; */
}

.slider-image-container
{
    box-sizing: border-box;
    display: flex;
    /* width: 100%; */

    /* margin: auto; */
}

.preview-container
{
    position: relative;
    display: flex;
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
    --animation-height: 60%;
    --animation-width: 60%;
    --images-gap: calc(clamp(300px, 50vw, 800px) + 10%); /*this width comes from the width of the image right now but probably would have to be defined else where*/
    --starting-xOffset: calc((var(--images-gap)) * -1);  
    justify-content: space-evenly;
}


.circle-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100px;
    /* border: solid 2px blue; */
    gap: 4%;
    margin: auto auto;
    margin-top: 0;
}

.home-portfolio-section-title
{
    /* border: solid blue 1px; */
    color: var(--title-blue);
    text-align: center;
}

.home-portfolio-section-description
{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home-portfolio-section-text
{
    /* border: black solid 1px; */
    text-align: justify;
    flex: 1;
    margin: 0% 3%;
}

.portfolio-bottom-header
{
    margin-bottom: 5%;
}

.move-images-out-right
{
    animation: move_images_out_right 0.6s linear 1;
}

.move-images-out-left
{
    animation: move_images_out_left 0.6s linear 1;
}

@keyframes move_images_out_left {
    0% {
        transform: translateX(var(--starting-xOffset));
    }

    10%
    {
        /* height: var(--animation-height); */
        /* width: var(--animation-width); */
        transform: translateX(var(--starting-xOffset));
    }

    90%
    {
        /* height: var(--animation-height); */
        /* width: var(--animation-width); */
        transform: translateX(0%);
    }

    100%
    {
        /* height: 100%; */
        /* width: 100%; */
        transform: translateX(0%);
    }
}

@keyframes move_images_out_right {
    
    10%
    {
        /* height: var(--animation-height);
        width: var(--animation-width); */
        transform: translateX(0px);
    }

    90%
    {
        /* height: var(--animation-height);
        width: var(--animation-width); */
        transform: translateX(calc(-1 * (var(--images-gap))));
    }

    100%
    {
        /* height: 100%;
        width: 100%; */
        transform: translateX(calc(-1 * (var(--images-gap))));
    }
}

@media (max-width: 1080px)
{
    .home-portfolio-section
    {
        flex-direction: column;
    }

    .home-portfolio-section-description
    {
        width: 100%;
    }

    .slider-container .preview-container
    {
        /*Need to rework this to make it more versatile and reusable*/
        width: clamp(300px, 80vw, 800px) !important;
        aspect-ratio: 16/10 !important;
        --images-gap: calc(clamp(300px, 80vw, 800px) + 10%) !important; /*this width comes from the width of the image right now but probably would have to be defined else where*/
        --starting-xOffset: calc((var(--images-gap)) * -1) !important;  
    }

}