.home-portfolio
{
    width: 100%;
    min-height: 100vh;
}

.home-portfolio-header
{
    display: flex;
    color: var(--title-blue);
    width: 100%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    margin-bottom: 1%;
    /* border: solid 1px black; */
}

.home-portfolio-title
{
    display: flex;
    background-image: url("../assets/Images/Components/background-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    min-height: 250px;
    margin: 0% 1%;
    /* border: solid 1px red; */
}

.home-portfolio-title-text
{
    margin: auto auto;
    /* border: solid 1px black; */
}

.rectangle
{
    background-color: var(--dimmer-yellow);
    padding: 1%;
    box-shadow: 0px 4px 5px gray;
}

.home-portfolio-section
{
    position: relative;
    display: flex;
    max-width: 100%;
    /* border: blue solid 1px; */
    min-height: 70vh;
    margin-bottom: 5%;
}

.image-box
{
    position: absolute;
}

.slider-container
{
    display: flex;
    flex-direction: column;
    /* border: solid 2px rgb(0, 250, 196); */
}

.slider-image-container
{
    height: 85%;
    width: 100%;
    /* border: solid 2px black; */
    display: flex;
}

.preview-container
{
    position: relative;
    /* border: black 1px solid; */
    display: flex;
    margin: 5% auto;
    height: 91.5%;
    width: 85%;
    margin-bottom: 0%;
    overflow: hidden;

    --animation-height: 60%;
    --animation-width: 60%;
    --images-gap: 40%;
    --starting-xOffset: calc((100% + var(--images-gap)) * -1);
}

.circle-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 20%;
    /* border: solid 2px blue; */
    gap: 4%;
    margin: auto;
    margin-bottom: 0%;
}


.home-portfolio-section-title
{
    /* border: solid blue 1px; */
    color: var(--title-blue);
    text-align: center;
}

.home-portfolio-section-description
{
    display: flex;
    flex-direction: column;
    /* border: red solid 1px; */
}

.home-portfolio-section-text
{
    /* border: black solid 1px; */
    text-align: justify;
    flex: 1;
    margin: 0% 3%;
}

.portfolio-bottom-header
{
    margin-bottom: 5%;
}

.move-images-out-right
{
    animation: move_images_out_right 0.6s linear 1;
}

.move-images-out-left
{
    animation: move_images_out_left 0.6s linear 1;
}

@keyframes move_images_out_left {
    0% {
        transform: translateX(var(--starting-xOffset));
    }

    10%
    {
        height: var(--animation-height);
        width: var(--animation-width);
        transform: translateX(var(--starting-xOffset));
    }

    90%
    {
        height: var(--animation-height);
        width: var(--animation-width);
        transform: translateX(0%);
    }

    100%
    {
        height: 100%;
        width: 100%;
        transform: translateX(0%);
    }
}

@keyframes move_images_out_right {
    
    10%
    {
        height: var(--animation-height);
        width: var(--animation-width);
        transform: translateX(0%);
    }

    90%
    {
        height: var(--animation-height);
        width: var(--animation-width);
        transform: translateX(calc(-1 * (100% + var(--images-gap))));
    }

    100%
    {
        height: 100%;
        width: 100%;
        transform: translateX(calc(-1 * (100% + var(--images-gap))));
    }
}