:root
{
    --main_font: "Work Sans";
    --logo_font: "Pacifico";
    --white_light_font_size: 20px;
    --cursive_font_size: 36px;
    --description_font_size: 20px;
    --subtitle_font_size: 40px;
    --normal_font_size: 24px;
    --itatlic_font_size: 64px;

    --blue_gradient_color: linear-gradient(to right, #0C7489, #0C7489 20%, #00B4D8 50%,  #02AACB 53%, #0C7489 70%);
    --side_margin: 0.5%;
}

body
{
    background-color: white;
    margin: 0px 0px;
}


