:root
{
    --dark-blue: #0C7489;
    --bright-yellow: #FFDF00;
    --dimmed-yellow: #BFB14A;
    --dimmer-yellow: #DAC21C;
    --dark-yellow: #A59004;
    --title-blue: #119DA4;
    --text-blue: #119DA4;
    --footer-initial-color: #79BCC9;
    --footer-second-color: #046578;
    --footer-last-color: #000000;
    --background-blue: #13505B;
    --lighter-background-blue: #039099;
    --light-blue-edge: #90E0EF;
    --light-white: #FFFFFF;
    --blue_gradient_color: linear-gradient(to right, #0C7489, #0C7489 20%, #00B4D8 50%,  #02AACB 53%, #0C7489 70%);
    --side_margin: 0.5%;
    --title-side-margin: 3%;
}

body
{
    background-color: white;
    margin: 0px 0px;

}

html
{
    /* scroll-behavior: smooth; */
}

.App
{
    /* border: solid 1px red */
}

