.skills-section
{
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--background-blue);
}

.skills-section .header
{
    display: flex;
    height: 10%; 
    margin: 5% 5%;
    margin-bottom: 1%;
    align-items: center;
    justify-content: center;
}

.title-text-padding
{
    margin: 0% 7%;
}

.diamond-line
{
    position: relative;
    width: 60%;
    padding: 0.3rem;
    background-color: var(--bright-yellow);
}

.diamond-line::before, 
.diamond-line::after
{
    content:"";
    position: absolute;
    width: 1.5em;
    height: 1.5em; 
    background-color: var(--bright-yellow); 
}

.diamond-line::before {
    left: -5px; 
    top: 50%;
    transform: translateY(-50%) rotate(45deg); 
}

.diamond-line::after {
    right: -5px; 
    top: 50%;
    transform: translateY(-50%) rotate(45deg); 
}

.skills-description
{
    display: flex;
    gap: 10%;
    height: 25%;
    margin: 5% 5%;
    margin-top: 0%;
    max-width: 100%;
    overflow: hidden;
}

.description-box
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: var(--lighter-background-blue);
    border: 0.3vw solid var(--light-blue-edge); /* Stroke color and width */
    border-radius: 53px; /* Rounded corners */
}

.description-title
{
    color: white; 
    margin-left: 5%;
    margin-bottom: 0%;
    margin-top: 5%;
}

.inside-text
{
    color: #D9D9D9;
    margin: 5% 6.5%;
    text-align: left;
}

.tech-and-tools
{
    height: 65%;
    margin: 0% 5%;
    /* background-color: black; */
}

.tech-and-tools .top-part
{
    display: flex;
    width: 100%;
    min-height: 20%;
    align-items: center;
    justify-content: center;
    font-size: 20rem;
}

.caption
{
    color: white;
    text-align: center;
    margin: 5% auto;
    /* margin-bottom: 3%; */
    width: 90%;
}

.gears-box
{
    width: 20%;
    min-height: 200px;
    background-image: url("../assets/Images/Components/gear-group.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    /* border: black 2px solid; */
}


.carousel-container
{
    --play-state: running;
    width: 100%;
    background-color: #BFB14A;
    border-radius: 31px;
    overflow: hidden;
}

.carousel-inner
{
    display: flex;
    align-items: center;
    width: 100%;
    /* transform: translateX(-120.7%); 
    transform: translateX(-5%);  */
    animation: slide 10s linear infinite;
}

@keyframes slide {
    
    0% 
    {
        transform: translateX(-5%);
    }

    100%
    {
        transform: translateX(-120.7%);
    }
}

.carousel-paused
{
    animation-play-state: paused;
}


.logo-image
{
    height: 5%;
    width: 5%;
    /* background-color: white; */
    margin-left: 2%;
}

.long-line
{
    width: 100%;
}


.logo-image-3
{
    height: 4.5%;
    width: 4.2%;
}

.logo-image-4
{
    height: 8.5%;
    width: 7.5%;
    margin-left: 0.5%;
}

.logo-image-5
{
    margin-left: 0.5%;
}

.logo-image-5, .logo-image-6,
.logo-image-7, .logo-image-8, .logo-image-9,
.logo-image-10
{
    width: 10%;
    height: 10%;
}

.logo-image-10, .logo-image-11
{
    margin-left: 0%;
}

.logo-image-8
{
    width: 15%;
}

.logo-image-11
{
    width: 7%;
}

.dropdowns-section
{
    margin-top: 2%;
    /* border: solid 10px wheat; */
}

.dropdown-container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: solid 4px black */
}

.dropdown-box
{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    min-height: 50%;
    align-items: flex-start;
    /* border: solid 1px red; */
    padding: 2%;
}

.dropdown-row
{
    display: flex;
    max-width: 100%;
    /* border: solid 10px yellowgreen; */
}

.dropdown-box-1
{
    align-items: flex-end;
}

.dropdown-box-2
{
    align-items: center;
}

.dropdown-title
{
    position: relative;
    /* border: solid black 2px; */
}

.triangle
{
    height: clamp(10px, 2vh, 24px);
    width: clamp(50px, 5vw, 78px);
    margin: auto;
    margin-top: 10px;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    background-color: white;
}

.bottom-header
{
    margin: 3% 5%;
    width: 90%;
    margin-bottom: 6%;
}
