:root
{
  --fs-title: clamp(2rem, 4.5vw + 1rem, 12rem);
  --fs-subtitle: clamp(2rem, 2vw + 1rem, 5rem);
  --fs-normal-medium: clamp(0.5rem, 0.8vw + 1rem, 5rem);
  --fs-normal-small: clamp(0.2rem, 0.5vw + 1rem, 5rem);
  --fs-cursive: clamp(0.1rem, 1.2vw + 1rem, 5rem);
  --fs-normal-bigger: clamp(0.6rem, 1.5vw + 1rem, 6rem);
}


.thin-white-text {
    font-family: 'Work Sans';
    font-size: var(--fs-normal-small); /* 20px */
    font-weight: 300; 
  }

.italic-title {
  font-family: 'Work Sans';
  font-size: var(--fs-title); /* 64px */
  font-weight: 700; 
  font-style: italic;
}

.cursive-button {
  font-family: "Pacifico";
  font-size: var(--fs-cursive); /* 36px */
  font-weight: 400; 
}

.normal-text-medium {
  font-family: 'Work Sans';
  font-size: var(--fs-normal-medium); /* 24px */
  font-weight: 600;
}

.normal-text-bigger
{
  font-family: 'Work Sans';
  font-size: var(--fs-normal-bigger); /* 24px */
  font-weight: 600;
}

.description-text {
  font-family: 'Work Sans';
  font-size: var(--fs-normal-small); /* 20px */
  font-weight: 600; 
}

.sub-title-text {
  font-family: 'Work Sans';
  font-size: var(--fs-subtitle); /* 40px */
  font-weight: 600; 
}


.bright-yellow-text
{
  color: var(--bright-yellow)
}

.dimmed-yellow-text
{
  color: var(--dimmed-yellow)
}

.lighter-blue-text
{
  color: var(--title-blue)
}

