:root
{
  --fs-20px: 0.6rem;
  --fs-24px: 0.75rem;
  --fs-30px: 1.125rem;
  --fs-32px: 1.2rem;
  --fs-36px: 1.35rem;
  --fs-40px: 1.5rem;
  --fs-64px: clamp(2rem, 4.5vw + 1rem, 12rem);
}

@media (min-width: 1000px)
{
  :root
  {
    --fs-20px: 1.25rem;
    --fs-24px: 1.5rem;
    --fs-30px: 1.875rem;
    --fs-32px: 2rem;
    --fs-36px: 2.25rem;
    --fs-40px: 2.5rem;
  }
}

.work-sans-family
{
  font-family: 'Work Sans';
}

.pacifico-family
{
  font-family: "Pacifico";
}

.fw-300
{
  font-weight: 300;
}

.fw-400
{
  font-weight: 400;
}

.fw-600
{
  font-weight: 600;
}

.fw-700
{
  font-weight: 700;
}

.fs-20px
{
  font-size: var(--fs-20px); /* 20px */
}

.fs-64px
{
  font-size: var(--fs-64px); /* 64px */
}

.italic
{
  font-style: italic;
}

.fs-36px
{
  font-size: var(--fs-36px); /* 36px */
}

.fs-32px
{
  font-size: var(--fs-32px);
}

.fs-24px
{
  font-size: var(--fs-24px); /* 24px */
}

.fs-40px
{
  font-size: var(--fs-40px); 
}

.fs-30px
{
  font-size: var(--fs-30px); /* 30px */
}

.fs-40px
{
  font-size: var(--fs-40px); /* 40px */
}

.fs-30px {
  font-family: 'Work Sans';
  font-size: 1.875rem; /* 30px */
  font-weight: 600; 
}

/* Color Text Classes */

.bright-yellow-text
{
  color: var(--bright-yellow)
}

.dimmed-yellow-text
{
  color: var(--dimmed-yellow)
}

.lighter-blue-text
{
  color: var(--title-blue)
}



