.work-sans-light 
{
  font-family: var(--main_font);
  font-optical-sizing: auto;
  font-style: light;
  font-size: var(--white_light_font_size);
}

.work-sans-semibold 
{
    font-family: var(--main_font);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: var(--white_light_font_size);
}

.thin-white-text {
    font-family: 'Work Sans';
    font-size: 1.25rem; /* 20px */
    font-weight: 300; 
  }
  
  .italic-blue-title {
    font-family: 'Work Sans';
    font-size: 4rem; /* 64px */
    font-weight: 700; 
    font-style: italic;
    color: var(--title-blue);
  }
  
  .cursive-button {
    font-family: "Pacifico";
    font-size: 2.25rem; /* 36px */
    font-weight: 400; 
  }
  
  .normal-text-medium {
    font-family: 'Work Sans';
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
  }
  
  .description-text {
    font-family: 'Work Sans';
    font-size: 1.25rem; /* 20px */
    font-weight: 600; 
  }
  
  .sub-title-text {
    font-family: 'Work Sans';
    font-size: 2.5rem; /* 40px */
    font-weight: 600; 
  }