.make-clickable
{
    cursor: 'pointer';
}

.x-flip
{
    transform: scaleX(-1);
}

.cursor-pointer
{
    cursor: pointer;
}

.margin-2per
{
    margin: 2%;
}

.auto-left
{
    margin-left: auto;
}

.auto-right
{
    margin-right: auto;
}

.border-radius-54
{
    border-radius: 54px;
}

.width-50per
{
    width: 50%;
}

.height-100per
{
    height: 100%;
}

.width-100per
{
    width: 100%;
}

.width-45per
{
    width: 45%;
}


/* Borders */

.border-red
{
    border: solid 2px red
}

.border-blue
{
    border: solid 2px blue;
}

.border-black
{
    border: solid 3px black;
}

.in-front
{
    position: inherit;
    z-index: 3;
}

.to-front2
{
    z-index: 2;
}


.fill-white
{
    fill: white;
}




/* Animations */


.fade-in 
{
    animation: fade-in 1s ease-in 1;
}

.fade-out
{
    animation: fade-out 1s ease-in 1;
}


@keyframes fade-in {
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes fade-out {
    0%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}