.make-clickable
{
    cursor: 'pointer';
}

.x-flip
{
    transform: scaleX(-1);
}

.cursor-pointer
{
    cursor: pointer;
}

.margin-2per
{
    margin: 2%;
}

.border-radius-54
{
    border-radius: 54px;
}

.width-50per
{
    width: 50%;
}

.height-100per
{
    height: 100%;
}

.width-100per
{
    width: 100%;
}

.width-45per
{
    width: 45%;
}


/* Borders */

.border-red
{
    border: solid 2px red
}

.border-blue
{
    border: solid 2px blue;
}

.border-black
{
    border: solid 3px black;
}

.in-front
{
    position: inherit;
    z-index: 3;
}